.units-row.second-section {
  min-height: 500px;
  margin-bottom: 0px;
  .unit-50.love-maps {
    margin-top: 40px;
    margin-left: 100px;
    min-height: 400px;
    background-color: #3d7cd1;
    border-radius: 20px;
  }
  h3 {
    padding-top: 40px;
    padding-left: 100px;
    margin-bottom: 0px;
  }
  .question-content {
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    ul {
      margin-top: 10px;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
}