.units-row.part-1 {
  background-color: #fff;
  min-height: 500px;
  margin-bottom: 0px;
  .unit-50.overall-happiness {
    margin-top: 40px;
    margin-left: 100px;
    min-height: 400px;
    background-color: #3d7cd1;
    border-radius: 20px;
  }
  h3 {
    padding-top: 40px;
    padding-left: 100px;
    margin-bottom: 0px;
  }
}