<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Ranalytics Invite</title>

<style type="text/css" data-immutable="true">
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
</style>
<link rel="stylesheet" type="text/css" href="/assets/email.css" />

</head>

<body bgcolor="#e6eff9">


<!-- BODY -->
<p>Your partner has finished taking the questionnaire and you can now view your results! <a href="http://107.170.195.201/show_results/<%= @invite_token %>">click here</a>. </p><!-- /BODY -->

</body>
</html>