.global-footer {
  width: 100%; height: 100%;
  background: #000;
  padding-top: 41px;
  color: $text-off-white;
  
  .footer-col {
    display: inline-block;
    vertical-align: top;
    width: 164px;
    li {
      margin-bottom: 20px;
      a {cursor: pointer;}
      &.title {
        text-transform: uppercase;
        font-weight: bold;
        color: #AF61D3;
      }
    }
  }
  .right {
    width: 290px; height: 24px;
    text-align: right;
    font-size: 11px;
    padding-top: 45px;
  }
}