$form-element-height: 38px;

form table.two-up {
  td {padding-bottom: 21px;}
  input[type='text'], input[type='email'], select {width: 370px; margin-right: 6px;}
  tr.error-highlight {
    label {color: #d75858;}
    input, select {border: 1px solid #e09a9a;}
  }
}

button, .btn, input[type='submit'] {
  height: $form-element-height; line-height: $form-element-height;
  padding-left: 16px; //44px 
  padding-right: 16px;
  border: none;
  border-radius: $form-element-radius;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: $proxima-nova;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: 16px center;
  cursor: pointer;
  position: relative;
  //Sizes
  &.no-text {
    padding: 0;
    width: 30px; height: 28px;
    background-position: center center;
  }

  &.light-gray {
    background: #C0C0C0;
    color: #fff;
    @include box-shadow(0 2px 0 #C0C0C0);
    &:hover {
      background-color: #999;
       @include box-shadow(0 2px 0 #999);
    }
  }

  &.purple {
    background: #542F64;
    color: #f2f9f3;
    @include box-shadow(0 2px 0 #542F64);
    &:hover {
      background-color: #af61d3;
       @include box-shadow(0 2px 0 #af61d3);
       &:disabled {
        background-color: #d8d8d8;
        @include box-shadow(0 2px 0 #c7c7c7);
       }
    }
  }

  &:disabled {
    background-color: #d8d8d8;
    @include box-shadow(0 2px 0 #c7c7c7);
  }
  //Icons
  &.no-icon {padding-left: 16px;}

  .tooltip-container {
    display: none;
    position: absolute;
    top: $form-element-height; left: 0;
    width: auto;
    background: #363a3f;
    font-size: 12px;
    color: #bec5cf;
    text-transform: none;
  }

  &:hover {
    .tooltip-container {display: block;}
  }

}

.form-messages-container {
  margin-bottom: 15px;
  .success-message, .error-message {
    margin-bottom: 6px;
    &:last-of-type {margin-bottom: 0;}
  }
  .error-message {color: #d76767;}
  .success-message {color: green;}

}

a.btn {display: inline-block;}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  border: 1px solid #d0d7df;
  height: $form-element-height; line-height: $form-element-height;
  background-color: $input-bg;
  color: $text-base-blue;
  padding-left: 16px;
  font-size: 14px;
  font-family: 'proxima-nova', 'Open Sans', Helvetica, sans-serif;
  @include box-shadow(0 2px 0 rgba(#000, 0.05) inset);
  border-radius: $form-element-radius;
  &.white {
    background-color: #fff;
    @include box-shadow(0 2px 0 rgba(#000, 0.12) inset);
  }
  &.error {
    border: 1px solid #d76767;
  }
  &:focus {
    border: 1px solid #7eb4dd;
    box-shadow: 0 0 1px 1px rgba(#51a7e8, 0.35), 0 2px 3px rgba(#000, 0.15) inset;
  }
}

select {
  -webkit-appearance: none;
  // background-image: inline-image('select-arrows-w-padding.png');
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #d0d7df;
  &.simple-select {
    border: none;
    background-color: transparent;
    // background-image: inline-image('select-arrow-down.png');
    color: #7e8fa6;
    @include box-shadow(none);
    border-radius: 0;
    font-weight: 300;
  }
  &.dark {
    background-color: #69717a;
    color: #d7dfe7;
    border: none;
    @include box-shadow(0 2px 0 rgba(#000, 0.15));
  }
}

textarea {
  line-height: 1.2;
  padding-top: 10px;
}


form label, form .label {
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 10px;
}

//Errors
.input-wrapper {
  position: relative;
  display: inline-block;
  width: auto;
  .err-msg {
    display: none;
    white-space: nowrap;
    position: absolute;
    left: 0px; top: 0px;
    background: #ffd9d9;
    box-shadow: 0 2px 0 #d6acac;
    line-height: 35px;
    padding: 0 16px;
    color: #b24545;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 23px;
    &:before {
      display: block;
      position: absolute;
      content: ' ';
      left: -8px;
      top: 8px;
      width: 0px; height: 0px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 8px solid #ffd9d9;
    }
  }
  &.error {
    input, textarea, input:focus, textarea:focus {
      border: 1px solid #d76767;
      box-shadow: 0 2px 3px rgba(#000, 0.15) inset, 0 0 4px rgba(#fe0000, 0.29);
    }
    .err-msg {
      display: block;
      z-index: 100;
    }
  }
}

.form--invite {
  display: inline-block;
  padding-right: 34px;
  fieldset {
    padding-bottom: 20px;
  }
}