header {
  @include clearfix;
  width: 100%; height: 50px;
  padding-top: 26px;
  background: #000000;
  border-bottom: 1px solid $dark-blue;

  .site-title {
    font-size: 30px;
    color: #fff;
    font-family: $proxima-nova;
  }

  nav > ul > li {
    margin-right: 50px;
    line-height: 24px; height: 24px;
    font-size: 20px;
    color: $text-dark-blue-faded;
    font-family: $proxima-nova;
    padding-left: 32px;
    display: inline-block;
    &.active, &:hover, > a {color: $text-dark-blue;}
    background: no-repeat left center;
    cursor: pointer;
  }
}