#site-container, #js-attach-footer {
  &.modal-open {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-filter: blur(6px);
  }
}

//Modal Globals
#modal-container {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1000;
  display: none;
  .modal-background {
    position: absolute;
    top: 0; left: 0;
    z-index: 1010;
    background: rgba(#575c62, 0.85);
  }
  .modal {
    position: fixed;
    top: 50%; left: 50%;
    background: #fff;
    z-index: 1020;
    padding: 0px 0 39px 0px;
    min-width: 568px;
    border-radius: $modal-border-radius;
    @include box-shadow(0 5px 5px rgba(#000, 0.11));
    @include transition(margin-top 0.2s);
    .close-modal {
      width: 28px; height: 28px;
      position: absolute;
      top: 20px; right: 20px;
      cursor: pointer;
      z-index: 100;
      background: inline-image('close-modal.png') no-repeat;
    }
    .modal-header {
      padding-top: 34px;
      width: 100%;
      border-top-right-radius: $modal-border-radius;
      border-top-left-radius: $modal-border-radius;
      &.blue {
        background: #ebf2fb;
        color: #8797ad;
      }
      h3 {
        font-size: 24px; 
        font-family: $proxima-nova; 
        font-weight: 200; 
        color: #60728c;
        margin-bottom: 10px;        
      }
    }
  }
}

.modal {
  .modal-header, .modal-body {
    padding: 0px 34px;
  }
  .modal-aside-info {
    border-radius: $modal-border-radius;
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    z-index: 100;
    background: rgba(#97aac4, 0.61);
    @include box-shadow(0 2px 6px rgba(#a6a6a6, 0.73));
    opacity: 0;
    pointer-events: none;
    @include transition(opacity 0.3s);
    &.show {
      opacity: 1;
      pointer-events: auto;
    }
    .inner {
      width: 480px;
      margin: 20px auto;
      background: #fff;
      padding: 0 35px 24px;
    }

    section {
      padding-top: 30px;
      padding-bottom: 25px;
      border-bottom: 1px solid #dae2ec;
      color: #7a889b;
      font-size: 12px;
      line-height: 18px;
      font-family: $open-sans;
      h5 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 12px;
        font-family: $open-sans;
      }
      &:last-of-type {border: none;}
    }
  }
}

.confirm-modal {
  .action-words {
    color: #9ba1a8;
    font-size: 14px;
    margin-bottom: 36px;
  }
  &.error {
    h2 {color: red; margin-bottom: 8px;}
  }
}

.edit-modal {
  form {
    margin-top: 35px;
    .space {
      margin-right: 10px;
    }
  }

  .pdf-info .column:last-of-type {
    padding-top: 6px;
    margin-left: 18px;
    line-height: 20px;
  }
  .client-placeholder-icon {
    margin-right: 25px;
    margin: -10px 25px 27px 0;
  }
  .sub-header {
    padding: 0;
    margin-top: 10px;
    background: transparent;
    display: block;
    color: #8797ad;
  }

}

.modal-text--information {
  max-width: 600px;
  font-size: 16px; 
  font-family: $proxima-nova; 
  font-weight: 200; 
  color: #60728c;
  a {
    color: #000;
    &:hover {color: #9b9b9b;}
  }
}

.modal-text--steps {
  max-width: 600px;
  ol {
    list-style-type: disc;
    padding: 10px 0px 0px 25px;
    li {
      font-size: 20px; 
      font-family: $proxima-nova; 
      font-weight: 200; 
      color: #60728c;
      padding-bottom: 10px;
    }
  }
}

p.invite__information {
  font-size: 14px; 
  font-family: $proxima-nova; 
  font-weight: 200; 
  color: #60728c;
  margin-bottom: 10px;
}