// Dimentions
$site-width:    1000px;
$footer-height: 160px;
$form-element-radius: 6px;

// Colors
$dark-grey: #606060;
$dark-bg-gray: #4b5056;
$base-blue: #3d7cd1;
$light-gray: #ebf2fb;
$light-gray-accent: #dbe4f0;
$dark-blue: #3466ab;
$text-dark-blue: #10376c;
$text-dark-blue-faded: #2b5a9b;
$text-header-blue: #60728c;
$text-base-blue: #898f99;
$text-table-header-blue: #a5b5cb;
$text-table-off-blue: #ecf1f8;
$text-off-white: #e3e8ee;
$link-blue: #3d87e4;

$input-bg: #edf1f6;

// Modals
$modal-border-radius: 8px;

// Fonts
$proxima-nova : 'proxima-nova','Open Sans', Helvetica, Arial, sans-serif;