
// Main Welcome On HomePage //
.welcome-container--explanation {
  margin: 20px 0px;
  width: 100%; min-height: 600px;
  background-image: url(image-path('DeathtoStock_NotStock8.jpg'));
  color: #000;
  font-weight: bold;
  font-family: $proxima-nova;
  .headline-text {
    font-size: 35px;
    padding:  200px 0px 0px 25px;
  }
  .title-text {
    padding: 10px 0px 0px 55px; 
    .main-text {
      font-size: 32px;
    }
    .sub-text {
      padding: 10px 0px 0px 20px;
      font-size: 27px;
      display: inline-block;
    }
    .welcome-buttons {
      display: inline-block;
      button {
        font-size: 18px;
      }
    }
  }
}

//More Information //

.welcome-container--more-info {
  width: 24.57%; min-height: 200px;
  display: inline-block;
  background-color: #542F64;
  color: #FFF;
  margin-bottom: 20px;
  border: 1px solid #fff;
  &:hover {
    background-color: #af61d3;
    cursor:pointer;
  }
  .more-info__heading {
    min-height: 125px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 75px;
  }
}

// Questionnaire Groupings //

.groupings-container {
  padding: 10px 0px 10px 10px; 
  margin-bottom: 20px;
  color: #000;
  .title-text {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .question-container {
    max-width: 615px;
    padding-left: 10px;
    .explanation-text {
      font-size: 16px;
      padding: 10px 0px;
    }
    .button-container {
      .selected {
        background-color: #af61d3;
        @include box-shadow(0 2px 0 #000);
      }
    }
  }
  .next-questionnaire-button {
    margin: 20px 0px 10px 10px;
  }
}

.possible-response__container {
  display: inline-block;
}


//Results//

.result__container--content {
  background-color: #F2F2F2;
  width: 100%;
  margin-bottom: 50px;
}

.result__container {
  width: inherit;
  .result__header__name {
      width: 100%;
      font-size: 25px;
      margin: 0px 0px 20px 20px;
      font-weight: bold;
      font-family: $proxima-nova;
      color: #000;
      text-align: center;
    }
  .result__body {
    font-size: 16px;
    color: #000;
    .result__body__overall {
      background-color: #F2F2F2;
      .result__body__overall__name {
        padding: 30px 0px 10px 20px;
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
      }
      .result__body__overall__icon {
        display: inline-block;
      }
      .result__body__overall__content {
        padding-left: 20px;
      }
    }
    .result__body__stats{
      .result__body__score {
        min-height: 40px; width: 25%;
        padding-top: 20px;
        background-color: #542F64;
        color: #FFF;
        font-size: 18px;
        text-align: center;
        display: inline-block;
        margin-bottom: 20px;
      }
      .result__body__graph {
        min-height: 40px;
        padding-top: 20px;
        background-color: #542F64;
        font-size: 20px;
        text-align: center;
        display: inline-block;
        margin-bottom: 20px;
      }
    }
    .result__body__recommendations {
        background-color: #F2F2F2;
      .recommendation {
        padding: 30px 0px 10px 20px;
        font-size: 18px;
        font-weight: bold;
      }
      .recommendation__content {
        padding: 0px 20px 30px;
      }
    }
    .result__body__product {
      width: 60%;
      background-color: #F2F2F2;
      display: inline-block;
      .result__body__product__name {
        font-size: 18px;
        font-weight: bold;
        padding: 0px 0px 10px 20px;
      }
      .result__body__product__description {
        padding: 0px 20px 30px;
      }
    }
    .result__body__product__link {
      width: 290px;
      min-height: 100px;
      margin: 30px 0px 30px 30px;
      padding: 0px 10px;
      background-color: #542F64;
      display: inline-block;
      text-align: center;
      color: #FFF;
      font-size: 20px;
      &:hover {
        background-color: #af61d3;
        cursor:pointer;
      }
      .link__title {
        padding-top: 25px;
      }
      .link__name {
        padding: 5px 0px 25px;
      }
    }
  }
}

// Result Colors //


.result--good {
  color: #CDF7AF;
  }
.result--ok {
  color: #ffe900;
}
.result--bad {
  color:#FF8080;
}

// Icons//

.result--good--icon {
    text-align: center;
    width: 22px; height: 22px;
    line-height: 21px;
    background: #98ba9d;
    color: #708f74;
    border-radius: 85px;
    font-size: 15px;
}

.result--ok--icon {
  text-align: center;
  width: 25px; height: 25px;
  line-height: 26px;
  background: #FFF788;
  color: #D9C600;
  border-radius: 85px;
  font-size: 10px;
}

.result--bad--icon {
  color: #FF8080;
  font-size: 18px;
}


//Invites//

.invite__container {
  margin: 140px 0px;
  color: #000;
  .invite__message {
    padding-bottom: 15px;
    text-align: center;
    font-size: 24px;
  }
  .invite__options {
    text-align: center;
  }
  .invite-warning {
  color: #FF8080;
  font-size: 80px;
  text-align: center;
  padding-bottom: 30px;
  }
  .success-checkbox {
    margin: 210px auto 20px;
    text-align: center;
    width: 85px; height: 85px;
    line-height: 85px;
    background: #98ba9d;
    color: #708f74;
    border-radius: 85px;
    font-size: 60px;
  }
}
