  .standard-text-container {
    margin-bottom: 20px;
    border: 1px solid #2F2F2F;

    .next-section-button {
      margin: 10px 0px 10px 10px;
    }
  }

  .welcome-message {
    margin-top: 20px;
  }

  .title-text {
    font-family: $proxima-nova;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 0px 5px 5px; 
  }

.explination-text {
  padding: 5px;
  font-family: $proxima-nova;
  font-size: 13px;

  .step-container {
    color: #2F2F2F;
    padding: 15px;
    background-color: $dark-blue;
    display: inline-block;
    border: none;
    border-radius: $form-element-radius;
    font-size: 13px;
    &:first-of-type {
      margin-left: 30%;
    }
  }
}

.pr-container {
  display: inline-block;
}