!!!
%html
  %head
    =render :partial => 'layouts/partials/head'
  %body
    #header-region
    #main-region
    #footer-region
    #modal-container
      .modal

    =render :partial => 'layouts/partials/javascripts'