!!!
%html
  %head
    =render :partial => 'layouts/partials/head'
  %body
    #site-container
      #js-attach-wrap
        =yield
      #footer-wrap
    #js-attach-footer
    #modal-container
      .modal-background
      .modal

    =render :partial => 'layouts/partials/javascripts'